* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

body {
    font-family: 'Lato', sans-serif;
    
}

main{
    min-width: 100vw;
    min-height: 100vh;
    /* background-image: linear-gradient(#009688 10%, #d5dbd8 90%); */
}


.background_header{
    height: 15vh;
    background-color: #009688;
}

.background_main_body{
    height: calc(100vh - 15vh);
    background-color: #d5dbd8;
}

.row{
    height: 80vh;
    --bs-gutter-x: 0;
} 

.very_top_section{
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
}

.very_top_section img{
    width: 15%;
    height: 80%;
    border-radius: 50%; 
    padding-top: 2px;
    margin-top: 3px;
    margin-left: 5px;
}

.very_top_section span{
    text-align: center;
    font-size: 12px;
    color: #516c6b;
    margin-left: 5px;
}

.fas.fa-circle-notch{
    width: 5%;
    height: 5%;
    color: #b1b1b1;
    display: inline;
    font-size: 11px;
    margin-left: 180px;
    
}

.fas.fa-circle-notch:hover{
    cursor: pointer;
}

.fas.fa-comment-alt{
    width: 5%;
    height: 5%;
    color: #b1b1b1;
    display: inline;
    font-size: 11px;
    
}
.fas.fa-comment-alt:hover{
    cursor: pointer;
}

.fas.fa-ellipsis-v{
    width: 5%;
    height: 5%;
    color: #b1b1b1;
    display: inline;
    font-size: 11px;
}
.fas.fa-ellipsis-v:hover{
    cursor: pointer;
}

.top_section{
    width: 100%;
    height: 13%;
    background-color: #8edafc;
}

.text{
    margin-top: -40px;
}

.fas.fa-bell-slash{
    margin-top: 12px;
    margin-left: 5px;
    background-color: white;
    font-size: 30px;
    color: #8edafc;
    border-radius: 50%;
}

.text span{
    font-size: 12px;
    font-weight: bold;
    padding-left: 40px;
    margin-left: 5px;
}

.text .notifiche{
    color: #6da1bd;
    text-decoration: underline;
    font-size: 10px;
    padding-left: 40px;
    margin-top: -2px;
    margin-left: 5px;
}

.notifiche:hover{
    cursor: pointer;
}

.search{
    width: 100%;
    background-color: #fefefe;
}

.form-control{
    width: 95%;
    height: 75%;   
}

.fas.fa-search{
    /* background-color: #fefefe; */
    color: grey;
    font-size: 10px;
}

.contacts{
    width: 100%;
    height: 69%;
    background-color: #fefefe;
}

.contact1, .contact2, .contact3{
    width: 100%;
    border-bottom: 0.5px solid lightgrey;
    margin: 5px 0;
}

.contact1 img{
    width: 15%;
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.contact2 img {
    width: 15%;
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.contact3 img{
    width: 15%;
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.contact1, .contact2, .contact3, span{
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.contact1 p{
    color: grey; 
    font-size: 8px;
    padding-left: 46px;
    margin-top: -20px;
    margin-left: 20px;
}

.contact2 p {
    color: grey;
    font-size: 8px;
    padding-left: 46px;
    margin-top: -20px;
    margin-left: 20px;
}

.contact3 p {
    color: grey;
    font-size: 8px;
    padding-left: 46px;
    margin-top: -20px;
    margin-left: 20px;
}

.contact1:hover {
    background-color: rgb(151, 150, 150);
    cursor: pointer;
}
.contact2:hover {
    background-color: rgb(151, 150, 150);
    cursor: pointer;
}
.contact3:hover{
    background-color: rgb(151, 150, 150);
    cursor: pointer;
}


.header{
    width: 100%;
    height: 10%;
    background-color: #e0dddd;
    border-left: 0.5px solid grey;
}

.icons_right{
    float: right;
    margin-top: -52px;
}

.fas.fa-search-plus{
    width: 10%;
    height: 10%;
    color: #b1b1b1;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 14px;
}
.fas.fa-search-plus:hover{
    cursor: pointer;
}

.fas.fa-paperclip{
    width: 10%;
    height: 10%;
    color: #b1b1b1;
    font-size: 11px;
    margin-left: 15px;
    margin-top: 14px;
}
.fas.fa-paperclip:hover{
    cursor: pointer;
}

.fas.fa-ellipsis-v{
    width: 10%;
    height: 10%;
    color: #b1b1b1;
    display: inline;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 14px;
}
.fas.fa-ellipsis-v:hover{
    cursor: pointer;
}

.header img{
    width: 8%;
    height: 80%;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 10px;
}

.header p{
    color: grey;
    font-size: 8px;
    padding-left: 46px;
    margin-top: -16px;
    margin-left: 32px;
}

.header span{
    font-size: 10px;
    font-weight: bold;
}

.main{
    width:100%;
    height: 80%;
    background-image: url(/img/mine.jpg);    
}

.green-txt{
    width: 350px;
    height: 50px;
    float: right;
    clear: both;
    text-align: center;
    background-color: rgba(62, 243, 71, 0.849);
    margin-left: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.white-txt{
    width: 350px;
    height: 50px;
    float: left;
    clear: both;
    text-align: center;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
}

.footer{
    width: 100%;
    height: 10%;
    background-color: #e0dddd;
}

.fas.fa-microphone{
    margin-left: 15px;
    color: #918f8f;
}
.fas.fa-microphone:hover{
    cursor: pointer;
}

.far.fa-smile:hover{
    cursor: pointer;
}

.active{
    background-color: #6b7978;
}